h1{
    text-align: center;
}
#container{
    height: 600px;
    width: 80%;
    border: 2px solid black;
    margin: 10px auto;
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    flex-wrap: nowrap;
    align-items: baseline;
    align-content: baseline;
    

}
#org{
    align-self: flex-start ;
     /* flex-basis: 500px;  */
    flex: 2  2000px;
    
}
#blue{
    flex-grow: 1;
}

#container div{
    height: 50px;
    width: 50px;
    color: white;
    border: 2px solid black;
}
